/* You can add global styles to this file, and also import other style files */
*{
  text-align: center;
}
#pagination {
  display: flex;
  display: -webkit-flex; /* Safari 8 */
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap; /* Safari 8 */
  justify-content: center;
  -webkit-justify-content: center;
}