<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
         style="background-image: url('./assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/faces/joe-gardner-2.jpg" alt="Circle Image"
                         class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h2 class="title">Jane Faker<br/></h2>
                    <h5 class="description">Music Producer</h5>
                </div>
            </div>
            <div class="row">

                <h5>An artist of considerable range, Jane Faker — the name taken by Melbourne-raised, Brooklyn-based
                    Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel
                    with a solid groove structure. An artist of considerable range, Jane Faker — the name taken by
                    Melbourne-raised, Brooklyn-based
                    Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel
                    with a solid groove structure. An artist of considerable range, Jane Faker — the name taken by
                    Melbourne-raised, Brooklyn-based
                    Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel
                    with a solid groove structure. An artist of considerable range, Jane Faker — the name taken by
                    Melbourne-raised, Brooklyn-based
                    Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel
                    with a solid groove structure. An artist of considerable range, Jane Faker — the name taken by
                    Melbourne-raised, Brooklyn-based
                    Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel
                    with a solid groove structure. An artist of considerable range, Jane Faker — the name taken by
                    Melbourne-raised, Brooklyn-based
                    Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel
                    with a solid groove structure. </h5>
                <br/>

            </div>
        </div>
    </div>
</div>
