<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
         [ngStyle]="{ 'background-image': 'url(' + post.postImage + ')'}">
        <!--style="background-image: url('./assets/img/fabio-mangione.jpg');">-->
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container" style="border: 1px solid #cccccc">
            <div class="owner">
                <div class="avatar">
                    <img src="{{post.userByUserId.srcAvatar}}" alt="Circle Image"
                         class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h2 class="title">{{post.title}}<br/></h2>
                    <h5 class="description">By {{post.userByUserId.userName}} Created At {{createdAt}}</h5>
                    <h5 *ngIf="post.updatedAt > 1590419944000">Updated At {{updatedAt}}</h5>
                </div>
                <div [innerHtml] ="post.content"></div>
            </div>
            <!--            <ckeditor name="content"-->
            <!--                      [editor]="Editor"-->
            <!--                      data=""-->
            <!--                      (ready)="onReady($event)"-->
            <!--                      [(ngModel)]="this.post.content">-->
            <!--            </ckeditor>-->
            <br>
            <br>
            <!--            <div class="document-editor">-->
            <!--                <div class="document-editor__toolbar"></div>-->
            <!--                <div class="document-editor__editable-container">-->
            <!--                    <div class="document-editor__editable">-->
            <!--                        <form class="form-horizontal" [formGroup]="commentForm" id="commentForm">-->
            <!--                            <div class="form-group">-->
            <!--                                <div class="col-sm-12">-->
            <!--                                    <label  class="control-label required" style="color: black; font-size: 17px">Write your Comment</label>-->
            <!--                                   <input type="text" id="commentContent" placeholder="Comment here">-->
            <!--                                    <div>-->
            <!--                                        <button class="btn btn-primary" (click)="sendComment()">Post Your Answer</button>-->
            <!--                                    </div>-->
            <!--&lt;!&ndash;                                    <ckeditor id = "editor" [editor]="Editor"&ndash;&gt;-->
            <!--&lt;!&ndash;                                              (change)="viewChangeOfContentOfComment($event)" formControlName="content" style="color: black">&ndash;&gt;-->
            <!--&lt;!&ndash;                                    </ckeditor>&ndash;&gt;-->
            <!--&lt;!&ndash;                                    <script>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        DecoupledEditor&ndash;&gt;-->
            <!--&lt;!&ndash;                                            .create( document.querySelector( '.document-editor__editable' ), {&ndash;&gt;-->
            <!--&lt;!&ndash;                                                cloudServices: {}&ndash;&gt;-->
            <!--&lt;!&ndash;                                            } )&ndash;&gt;-->
            <!--&lt;!&ndash;                                            .then( editor => {&ndash;&gt;-->
            <!--&lt;!&ndash;                                                const toolbarContainer = document.querySelector( '.document-editor__toolbar' );&ndash;&gt;-->

            <!--&lt;!&ndash;                                                toolbarContainer.appendChild( editor.ui.view.toolbar.element );&ndash;&gt;-->

            <!--&lt;!&ndash;                                                window.editor = editor;&ndash;&gt;-->
            <!--&lt;!&ndash;                                            } )&ndash;&gt;-->
            <!--&lt;!&ndash;                                            .catch( err => {&ndash;&gt;-->
            <!--&lt;!&ndash;                                                console.error( err );&ndash;&gt;-->
            <!--&lt;!&ndash;                                            } );&ndash;&gt;-->
            <!--&lt;!&ndash;                                    </script>&ndash;&gt;-->
            <!--                                </div>-->
            <!--                            </div>-->

            <!--                        </form>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <label for="inputPassword5">Input Comment</label>-->
            <input placeholder="write comment here" type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
            <br>
            <button class="btn-primary btn" (click)="sendComment()">Comment this blog</button>
            <br>
            <br>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center" *ngIf="this.userName !==null">
                    <div *ngIf="this.userName===this.userNameOfUserWroteCurrentPost">
                        <button class="btn btn-info btn-round" (click)="editPost(this.post)"> Edit</button>
                        <button class="btn btn-info btn-round" (click)="deletePost(this.post)"> Delete</button>
                    </div>
                </div>
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <!--                    <button class="btn btn-info btn-round"> Like</button>-->
                    <!--                    <button class="btn btn btn-info btn-round"> Share</button>-->
                </div>
            </div>

            <!--            <div class="grid&#45;&#45;cell s-btn s-btn__muted s-btn__outlined s-btn__icon google-login" data-ga="[&quot;sign up&quot;,&quot;Sign Up Started - Google&quot;,&quot;New Post&quot;,null,null]">-->
            <!--                <svg aria-hidden="true" class="native svg-icon iconGoogle" width="18" height="18" viewBox="0 0 18 18"><path d="M16.51 8H8.98v3h4.3c-.18 1-.74 1.48-1.6 2.04v2.01h2.6a7.8 7.8 0 002.38-5.88c0-.57-.05-.66-.15-1.18z"-->
            <!--                                                                                                                            fill="#4285F4"/><path d="M8.98 17c2.16 0 3.97-.72 5.3-1.94l-2.6-2a4.8 4.8 0 01-7.18-2.54H1.83v2.07A8 8 0 008.98 17z" fill="#34A853"/><path d="M4.5 10.52a4.8 4.8 0 010-3.04V5.41H1.83a8 8 0 000 7.18l2.67-2.07z"-->
            <!--                                                                                                                                                                                                                                                                       fill="#FBBC05"/><path d="M8.98 4.18c1.17 0 2.23.4 3.06 1.2l2.3-2.3A8 8 0 001.83 5.4L4.5 7.49a4.77 4.77 0 014.48-3.3z" fill="#EA4335"/>-->
            <!--                </svg> <a href="#">Sign up using Google</a>-->
            <!--            </div>-->
            <!--            <div class="grid&#45;&#45;cell s-btn s-btn__muted s-btn__icon facebook-login" data-ga="[&quot;sign up&quot;,&quot;Sign Up Started - Facebook&quot;,&quot;New Post&quot;,null,null]">-->
            <!--                <svg aria-hidden="true" class="svg-icon iconFacebook" width="18" height="18" viewBox="0 0 18 18"><path d="M3 1a2 2 0 00-2 2v12c0 1.1.9 2 2 2h12a2 2 0 002-2V3a2 2 0 00-2-2H3zm6.55 16v-6.2H7.46V8.4h2.09V6.61c0-2.07 1.26-3.2 3.1-3.2.88 0 1.64.07 1.87.1v2.16h-1.29c-1 0-1.19.48-1.19 1.18V8.4h2.39l-.31 2.42h-2.08V17h-2.5z" fill="#4167B2"/></svg> <a href="#">Sign up using Facebook</a>-->
            <!--            </div>-->
            <!--            <div class="grid&#45;&#45;cell s-btn s-btn__muted s-btn__outlined s-btn__icon stackexchange-login" data-ga="[&quot;sign up&quot;,&quot;Sign Up Navigation&quot;,&quot;New Post&quot;,null,null]">-->
            <!--                <svg aria-hidden="true" class="native svg-icon iconLogoGlyphXSm" width="18" height="18" viewBox="0 0 18 18"><path d="M14 16v-5h2v7H2v-7h2v5h10z" fill="#BCBBBB"/><path d="M12.09.72l-1.21.9 4.5 6.07 1.22-.9L12.09.71zM5 15h8v-2H5v2zm9.15-5.87L8.35 4.3l.96-1.16 5.8 4.83-.96 1.16zm-7.7-1.47l6.85 3.19.63-1.37-6.85-3.2-.63 1.38zm6.53 5L5.4 11.39l.38-1.67 7.42 1.48-.22 1.46z" fill="#F48024"/></svg> <a href="#">Sign up using Email and Password</a>-->
            <!--            </div>-->

            <!--            <input type="hidden" name="use-facebook" class="use-facebook" value="false" />-->
            <!--            <input type="hidden" name="use-google" class="use-google" value="false" />-->
            <!--            <button type="button" class="d-none js-submit-openid">Submit</button>-->
            <!--            <div class="grid gsy gs8 fd-column w50 md:w-auto new-login-right form-item p0">-->
            <!--                <h3 class="grid&#45;&#45;cell fs-title">Post as a guest</h3>-->
            <!--                <div class="grid&#45;&#45;cell">-->
            <!--                    <div class="grid gs4 gsy fd-column">-->
            <!--                        <label class="s-label" for="display-name" style="color: black; font-size: 17px; font-weight: bold">Name</label>-->
            <!--                        <div class="grid ps-relative">-->
            <!--                            <input class="s-input" id="display-name" name="display-name" maxlength="30" type="text" value="" tabindex="105" placeholder="" />-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--                <div class="grid&#45;&#45;cell">-->
            <!--                    <div class="grid gs4 gsy fd-column">-->
            <!--                        <div class="grid&#45;&#45;cell">-->
            <!--                            <div class="grid gs2 gsy fd-column">-->
            <!--                                <label class="grid&#45;&#45;cell s-label" for="m-address" style="color: black; font-size: 17px; font-weight: bold">Email</label>-->
            <!--                                <p class="grid&#45;&#45;cell s-description">Required, but never shown</p>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                        <div class="grid ps-relative">-->
            <!--                            <input class="s-input js-post-email-field" id="m-address" name="m-address" type="text" value="" size="40" tabindex="106" placeholder="" />-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->

            <!--            <script>-->
            <!--                StackExchange.ready(-->
            <!--                    function () {-->
            <!--                        StackExchange.openid.initPostLogin('.new-post-login', 'https%3a%2f%2fstackoverflow.com%2fquestions%2f60000073%2fhow-to-change-the-border-color-radius-and-thickness-of-ck-editor-4%23new-answer', 'question_page');-->
            <!--                    }-->
            <!--                );-->
            <!--            </script>-->
            <br>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'">
                        <ngb-tab>
                            <ng-template ngbTabContent>
                                <div class="row following" id="follows">
                                    <div class="col-md-6 ml-auto mr-auto">
                                        <ul class="list-unstyled follows">
                                            <li>
                                                <div class="row" *ngFor="let comment of commentList; let i = index">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="./assets/img/faces/clem-onojeghuo-2.jpg"
                                                             alt="Circle Image"
                                                             class="img-circle img-no-padding img-responsive">
                                                    </div>
                                                    <div class="col-md-7 col-sm-4 ml-auto">
                                                        <h5>{{comment.userByUserId.userName}}</h5>
                                                        <h5>{{comment.content}}</h5>
                                                    </div>

                                                </div>
                                            </li>
                                            <hr/>
                                            <li>
                                                <!--                                                <div class="row">-->
                                                <!--                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">-->
                                                <!--                                                        <img src="./assets/img/faces/ayo-ogunseinde-2.jpg"-->
                                                <!--                                                             alt="Circle Image"-->
                                                <!--                                                             class="img-circle img-no-padding img-responsive">-->
                                                <!--                                                    </div>-->
                                                <!--                                                    <div class="col-md-7 col-sm-4 ml-auto">-->
                                                <!--                                                        <h5>Banks<br/><small>Singer-->
                                                <!--                                                            ProducerProducerProducerProducerProducer</small></h5>-->
                                                <!--                                                    </div>-->
                                                <!--                                                </div>-->
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</div>
