
<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
        <div class="container">
            <h3 style="color: white">Add New Post</h3>
            <form class="form-horizontal" [formGroup]="postForm" id="postForm">
                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="title" class="control-label required" style="color:white; font-size: 17px">Title</label>
                        <input id="title" type="text" class="form-control" formControlName="title">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label  class="control-label required" style="color:white;font-size: 17px">Content</label>
                        <ckeditor id = "editor1"  [editor]="Editor"
                                  (change)="saveContentOfPost($event)" formControlName="content">

                        </ckeditor>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="file" class="control-label" style="color:white; font-size: 17px">Choose Image</label>
                        <input id="file" type="file" multiple accept="image/*" class="form-control" (change)="onSelectFile($event)" >
                    </div>
                </div>

                <div *ngIf="fileUrl">
                    <img src="{{this.fileUrl}}" style="width: 100px; height: 100px">
                </div>
                <button class="btn btn-primary" (click)="onSubmit(postForm)">Submit</button>
                <button class="btn" (click)="reset()">Reset</button>
            </form>
        </div>
    </div>

</div>


